.row{
	background: #333333;
}
.container{
	margin-top: 130px;
	font-size: 18px;
}

.form-row{
	border-radius: 15px;
	background: #CC6600;
	margin-left: 25%;
}


.table{
	background: #CC6600;
	border-radius: 15px;
}

.form-row .btn{
	margin-top: -10px;
	margin-bottom: 20px;
	margin-left: 35%;
}

a{
	margin-bottom: 80px;
}